:root {
    --color01: #356B8C;
    --color02: #99B1BF;
    --color03: #DFEBF2;
    --color04: #0D3140; // #0D3140
    --color05: #396273;

        --color01-1: #0a2732; // #4c738cb3  #144b627e

    --color06:#042940;
    --color07:#005C53;
    --color08:#9FC131;
    --color09:#daf227b7; // #DBF227
    --color10:#D6D58E;
}

